/*body{
    background: #383847;
    padding-bottom: 50px;
}*/
.mt-1 {
  margin-top: 0 !important;
}

body {
    background: #2a2d32;
    padding-bottom: 50px;
}


body, input, select, textarea {
    /*color: #c17b9f;*/
    color: #c17b9f;
    font-family: "Verdana", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.45;
}

p.small {
    font-variant: small-caps;
    font-size: 2.2rem;
}

h1.small {
    font-size: 3.7rem;
    font-variant: small-caps;
}

h2.small {
    font-size: 2.4rem;
    font-variant: small-caps;
}   

h3.small {
    font-size: 1.6rem;
    font-variant: small-caps;
}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  /*border-color: #c17b9f;
  color: #c17b9f;*/
  color: #c17b9f;
  /*color: #5fffff;*/
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #c17b9f;
}


.btn-dark {
    color: #c17b9f;
    /*color: #eae1bc;*/
    background-color: #35363a;
    border-color: #22251f;
    box-shadow: 2px 2px #000000;/*888888;*/
}

a:hover {
    color: #b8bac3;
}




.btn-default:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
    color: #b8bac3;
    background-color: #535651;
    border-color: #2a2d32;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open > .dropdown-toggle.btn-dark {
    color: #b8bac3;
}


.checkbox {
    font-size: 1.0rem;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #434356;
  border: 1px solid #c17b9f; 
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.sc {
    font-variant: small-caps;
}


<<<<<<< HEAD
.well-lite {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #e2e2e9;
  border: 1px solid #c17b9f;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-wite {
    vertical-align: middle;
    background-color: #f1f1f4;
    min-height: 1px;
    margin-bottom: 2px;
    margin-top: 2px;
    border: 1px solid #434356;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}


.p-dark{
    color:  #434356;
    }


.p-dark-code{
    color:  #434356;
    font-family: "Courier New", sans-serif;
    font-size: 15px;
}

.custom-block{
    display: table;
    width: 100%;            
}

.custom{
    display: table-cell;
    verticala-lign: middle;

}

.code_text{
    font-family: "Courier New", sans-serif;

.container-thin {
  padding-right:315px;
  padding-left: 315px;
  margin-right: auto;
  margin-left: auto;

}